<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>add Car</p>
    {% for message in get_flashed_messages()%}
    <p>{{message}}</p>
    {% endfor %}
    <form action="/car/create" method="POST">
        <input type="hidden" name = "user_id" value="{{session.user_id}}">
        Make: <input type="text" name="car_make" ><br>
        Model: <input type="text" name="car_model"><br>
        year: <input type="text" name="car_year" ><br>
        Price: <input type="number" name="car_price" ><br>
        Description: <textarea name= "car_description" ></textarea><br>
        <input type="submit">  
    </form>
</body>
</html>