<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th class="first">First Name</th>
            <th class="last" >Last Name</th>
            <th  class="full">Full Name</th>
        </tr>
        {% for user in users %}
            <tr >
                <td>{{user["first_name"]}}</td>
                <td >{{user["last_name"]}}</td>
                <td >{{user["first_name"]}}  {{user["last_name"]}}</td>
            </tr>
        {% endfor %}

    </table>
    
</body>
</html>