.box{
    background-color: violet;
    height: 500px;
    width: 500px;
    justify-content: center;
    
}
.smallbox{
    height: 70px;
    width: 500px;
    display: flex;

    background-color: aquamarine;
}
.base{
    height: 125px;
    width: 500px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}
.mainpic{
    background-color:burlywood;
    width: 240px;
    height: 282px;
    margin-left: 10px;
    display: flex;
    
}
h1{
    color: black;
    margin-left: 10px;
}
button{
    height: 23px;
    background-color: blue;
    color: beige;
    margin-left: 50%;
    margin-top: 10px;
}
#heart{
    height: 100px;
    width: 100px;
    display: flex;
    
}
#icecream{
    height: 100px;
    width: 100px;
    display: flex;
    
}
#brulee{
    width: 100px;
    height: 100px;
}
 #tart{
     width: 100px;
     height: 100px;
 }
  #cookie{
      height: 100px;
      width: 100px;
  }
  #search{
      width: 139px;
      height: 18px;
      margin-top: 43px;
      
  }
  #heart-title{
      text-decoration: underline;
  }