h1{
    color: aqua;
    background-color: black;
    text-align: left;
    }



h2{
    color: antiquewhite;
    background-color: darkmagenta;
    text-align: center;
}

h3{
    color: blueviolet;
    background-color: aquamarine;
    text-align: right;
    text-decoration: underline;
}


