.container-Banner{
   background-color:black;
   display: flex; 
   justify-content: space-around;
   margin-bottom: 25px;
   width: 100%;
   
}

.Container-Banner2{
    background-color: silver;
    display: flex;
    width: 380px;
    height: 405px;
    margin-left: 55px;
    flex-direction: column;
    
}
.box1{
    background-color: blue;
    width: 100%;
    height: 89px;
}

.box2{
    background-color: brown;
    width: 100%;
    height: 142px;
    margin-top: 20px;
}

.box3{
    background-color: white;
    width: 100%;
    height: 154px;
}


.Container-Banner3{
    background-color: silver;
    width: 254px;
    height: 409px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 10px;
    

}

.square1{
    background-color: gold;
    width: 100%;
    height: 150px;
    vertical-align: top;
}

.square2{
    background-color: olivedrab;
    width: 100%;
    height: 236px;
}

.box{
    display: flex;
    justify-content:center;

}

p{
    color: white;
    font-size: medium;
    justify-content: space-between;
}
h1{
    color: white;
}

button{
    background-color: rgb(87, 87, 192);
    color: antiquewhite;
    width: 100px;
    height: 40px;
    margin-top: 21px;

}

img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
     
}
h2{
    font-size: 27px;
    color: black;
    margin-top: 20px;
    position: relative;
    top: 44px;
    left: 50px;
    height: 30px;
    width: 50px ;
    ;
    
    align-content:stretch;
}


