.outerbox {
    width: 600px;
    height: 800px;
    background-color: rgb(179, 179, 190);
    align-items: center;
    margin-left: 100px;
    /* border: 10px black; */
    /* border-style: solid; */
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
}

.bluebox {
    background-color: rgb(129, 129, 223);

}

.purplebox {

    background-color: rgb(231, 134, 231);


}

.whitebox {

    background-color: whitesmoke;


}

img {
    height: 160px;
    width: 175px;
    align-self: center;

}