.container {
    background-color: rgb(211, 209, 209);
    height: 950px;
    width: 950px;
    margin: 0 auto;
}
.banner {
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left, .banner-right {
    display: flex;
    align-items: center;
}
.content-header {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
.content-body {
    background-color: pink;
    display: flex;
}
.content-body-left {
    display: flex;
    margin-right: 25px;
}
.random-text {
    padding: 10px;
}
.flex-6 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.col {
    background-color: rgb(147, 147, 250);
}

.cookies {
    background-color: rgb(255, 164, 164);
    display: flex;
    gap: 20px;
    padding: 20px;
}